:root {
    --foreground: 0 0% 9%;
    --background: 0 0% 100%;
    --obj-foreground: 210.71 55.46% 55.1%;
    --import-foreground: 355.52 72.5% 47.06%;
    --comment-foreground: 212.98 96.61% 34.71%;
    --function-foreground: 260.93 53.09% 47.65%;
    --highlight: 209.55 100% 94%;
    --syntax-comment: 212 10% 58%;
    --syntax-error: 357 94% 63%;
    --syntax-keyword: 9 100% 73%;
    --syntax-deleted-fg: 10 100% 80%;
    --syntax-deleted-bg: 0 100% 15%;
    --syntax-generic-error: 10 100% 80%;
    --syntax-inserted-fg: 131 65% 58%;
    --syntax-inserted-bg: 140 74% 19%;
    --syntax-prompt: 9 100% 73%;
    --syntax-traceback: 9 100% 73%;
    --syntax-class: 27 84% 55%;
    --syntax-entity: 30 100% 67%;
    --syntax-tag: 131 74% 71%;
    --syntax-whitespace: 213 12% 46%;
    --syntax-output: 212 10% 58%;
    --syntax-highlight-accent: 210 100% 64%;
    --lineno-padding: 5px;
    --highlight-bar-offset: 1rem;
    --highlight-bar-stop: 16.81%;
    --highlight-bar-height: 20px;
    --highlight-bar-height-mobile: 17px;
}

html[data-theme="dark"] {
    --foreground: 0 0% 93%;
    --background: 0 0% 4%;
    --obj-foreground: 208.4 100.8% 73.79%;
    --import-foreground: 3.83 100% 72.35%;
    --comment-foreground: 207.33 100% 82.35%;
    --function-foreground: 268.97 100% 82.94%;
    --highlight: 211.25 97.96% 19.22%;
    --syntax-comment: 212 10% 58%;
    --syntax-error: 357 92% 63%;
    --syntax-keyword: 9 100% 73%;
    --syntax-deleted-fg: 10 100% 80%;
    --syntax-deleted-bg: 0 100% 15%;
    --syntax-generic-error: 10 100% 80%;
    --syntax-inserted-fg: 131 65% 58%;
    --syntax-inserted-bg: 140 74% 19%;
    --syntax-prompt: 9 100% 73%;
    --syntax-traceback: 9 100% 73%;
    --syntax-class: 27 84% 55%;
    --syntax-entity: 30 100% 67%;
    --syntax-tag: 131 74% 71%;
    --syntax-whitespace: 213 12% 46%;
    --syntax-output: 212 10% 58%;
    --syntax-highlight-accent: 210 100% 64%;
}

pre {
    line-height: 125%;
}

td.linenos .normal,
td.linenos .special,
span.linenos,
span.linenos.special {
    padding-inline: var(--lineno-padding);
}

td.linenos .normal,
span.linenos {
    color: inherit;
    background-color: transparent;
}

td.linenos .special,
span.linenos.special {
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
}

.highlight {
    background: hsl(var(--background));
}

.highlight pre {
    padding: 1rem;
}

.highlight .hll {
    background-color: hsl(var(--highlight));
    position: relative;
    display: block;
    width: calc(100% + var(--highlight-bar-offset));
}

.highlight .hll::before {
    content: " ";
    position: absolute;
    left: calc(var(--highlight-bar-offset) * -1);
    width: var(--highlight-bar-offset);
    height: var(--highlight-bar-height);
    background: linear-gradient(to right, hsl(var(--syntax-highlight-accent)), hsl(var(--syntax-highlight-accent)) var(--highlight-bar-stop), hsl(var(--highlight)) var(--highlight-bar-stop));
}

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .c1,
.highlight .cpf {
    color: hsl(var(--syntax-comment));
    font-style: italic;
}

.highlight .cp,
.highlight .cs {
    color: hsl(var(--syntax-comment));
    font-weight: 400;
    font-style: italic;
}

.highlight .err {
    color: hsl(var(--syntax-error));
}

.highlight .esc,
.highlight .g,
.highlight .n,
.highlight .x,
.highlight .p,
.highlight .pm,
.highlight .na,
.highlight .nx,
.highlight .bp {
    color: hsl(var(--foreground));
}

.highlight .k,
.highlight .o,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kt,
.highlight .ow,
.highlight .gp {
    color: hsl(var(--syntax-keyword));
    font-weight: 400;
}

.highlight .l,
.highlight .m,
.highlight .s,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .si,
.highlight .sx,
.highlight .s1,
.highlight .ss {
    color: hsl(var(--comment-foreground));
}

.highlight .kc,
.highlight .kp,
.highlight .ld,
.highlight .no,
.highlight .nl,
.highlight .py,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm,
.highlight .sa,
.highlight .dl,
.highlight .se,
.highlight .sh,
.highlight .sr {
    color: hsl(var(--obj-foreground));
    font-weight: 400;
}

.highlight .nb,
.highlight .nd,
.highlight .nf,
.highlight .fm {
    color: hsl(var(--function-foreground));
    font-weight: 400;
}

.highlight .gh,
.highlight .gu {
    color: hsl(var(--obj-foreground));
    font-weight: 400;
}

.highlight .ge {
    color: hsl(var(--foreground));
    font-style: italic;
}

.highlight .ges {
    color: hsl(var(--foreground));
    font-weight: 400;
    font-style: italic;
}

.highlight .gs {
    color: hsl(var(--foreground));
    font-weight: 400;
}

.highlight .g-Underline {
    color: hsl(var(--foreground));
    text-decoration: underline;
}

.highlight .gd {
    color: hsl(var(--syntax-deleted-fg));
    background-color: hsl(var(--syntax-deleted-bg));
}

.highlight .gr {
    color: hsl(var(--syntax-generic-error));
}

.highlight .gi {
    color: hsl(var(--syntax-inserted-fg));
    background-color: hsl(var(--syntax-inserted-bg));
}

.highlight .go {
    color: hsl(var(--syntax-output));
}

.highlight .gt {
    color: hsl(var(--syntax-traceback));
}

.highlight .nc,
.highlight .ne {
    color: hsl(var(--syntax-class));
    font-weight: 400;
}

.highlight .ni {
    color: hsl(var(--syntax-entity));
}

.highlight .nt {
    color: hsl(var(--syntax-tag));
}

.highlight .nn {
    color: hsl(var(--foreground));
    font-weight: 400;
}

.highlight .w {
    color: hsl(var(--syntax-whitespace));
}

/* iPad view */
@media (max-width: 768px) {
    .highlight .hll {
        padding-right: 100vw;
        margin-right: -100vw;
        display: inline;
    }

    .highlight .hll::before {
        height: var(--highlight-bar-height-mobile);
        top: 0;
    }
}
