:root {
    --docsearch-primary-color: hsl(var(--primary));
    --docsearch-muted-color: hsl(var(--muted-foreground));
    --docsearch-key-gradient: transparent;
    --docsearch-key-shadow: transparent;
    --docsearch-text-color: hsl(var(--popover-foreground));
    --docsearch-modal-width: 760px;
    --docsearch-modal-background: hsl(var(--popover));
    --docsearch-footer-background: hsl(var(--popover));
    --docsearch-searchbox-focus-background: hsl(var(--popover));
    --docsearch-container-background: hsl(var(--background), 0.8);
    --docsearch-spacing: 0.5rem;
    --docsearch-hit-active-color: hsl(var(--accent-foreground));
    --docsearch-hit-background: transparent;
    --docsearch-searchbox-shadow: none;
    --docsearch-hit-shadow: none;
    --docsearch-modal-shadow: none;
    --docsearch-footer-shadow: none;
}

.DocSearch-Button {
    width: 100%;
    background-color: transparent;
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
    margin: 0;
    cursor: pointer;
}

.DocSearch-Button svg {
    height: 1rem;
    width: 1rem;
    stroke: hsl(var(--muted-foreground));
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
    background-color: hsl(var(--light-accent), 0.5);
}

.DocSearch-Button:focus,
.DocSearch-Button:hover,
.DocSearch-Button:focus-visible {
    box-shadow: none;
    color: hsl(var(--muted-foreground));
}

.DocSearch-Button-Keys {
    min-width: auto;
}

.DocSearch-Button-Key {
    background: hsl(var(--light-accent));
    border-radius: 0.25rem;
    color: hsl(var(--accent-foreground));
    margin-right: 0;
    position: relative;
    border: 1px solid hsl(var(--border));
    width: 18px;
    box-shadow: none;
    padding: 0;
    top: 0;
}

.DocSearch-Button-Key:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-top: 2px;
    padding-left: 0.35rem;
}

.DocSearch-Button-Key:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
    font-size: 0.7rem;
    padding-right: 0.3rem;
}

.cls-1,
.cls-2 {
    fill: hsl(var(--foreground)) !important;
}

.DocSearch-Button-Placeholder {
    display: none;
    color: hsl(var(--foreground));
    font-size: 0.8rem;
    font-family: "Geist Mono", monospace;
    padding: 0 0 0 0.5rem;
}

.DocSearch-Input {
    font-family: "Geist Mono", monospace;
    font-size: 0.9rem;
}

.DocSearch-Button-Container::before {
    content: "\f002";
    font-weight: 900;
    color: hsl(var(--foreground));
    font: var(--fa-font-regular);
    font-size: 0.8rem;
    line-height: 1;
    opacity: 1;
    display: inline-block;
}

.DocSearch-Button-Container::before:hover,
.DocSearch-Button-Container::before:focus,
.DocSearch-Button-Container::before:focus-visible {
    opacity: .5;
}

.DocSearch-ErrorScreen,
.DocSearch-NoResults,
.DocSearch-StartScreen,
.DocSearch-MagnifierLabel,
.DocSearch-Search-Icon {
    display: none;
}

.DocSearch-Container {
    position: fixed;
    background-color: hsl(var(--docsearch-container-background));
    --tw-backdrop-blur: blur(8px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.DocSearch-Modal {
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    box-shadow: none;
    border-radius: var(--radius);
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width:768px) {
    .DocSearch-Modal {
        height: auto;
        width: 90%;
    }

    .DocSearch-Footer {
        bottom: auto;
    }

    .DocSearch-Reset {
        padding: 7px;
    }

    .DocSearch-Cancel {
        display: none;
    }
}

.DocSearch-SearchBar {
    border-bottom: 0;
    border-color: hsl(var(--input));
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: 0;
}

.DocSearch-Dropdown {
    min-height: 0;
}

.DocSearch-Footer {
    width: auto;
    position: absolute;
    right: 0;
}

.DocSearch-Form {
    background-color: transparent;
    height: 2.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.DocSearch-Cancel {
    display: none;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.DocSearch-Hit-source {
    background-color: transparent;
    color: hsl(var(--muted-foreground));
}

.DocSearch-Hits {
    padding-inline: 0.5rem;
}

.DocSearch-Hit,
.DocSearch-Hit a {
    background-color: transparent;
    border-radius: 0;
}

.DocSearch-Hit a:focus-visible {
    outline-offset: 0;
}

.DocSearch-Hit[aria-selected=true] a {
    background-color: transparent;
    color: hsla(var(--muted-foreground), 0.3);
}

.DocSearch-Hit-Container {
    height: 2.3rem;
    color: hsl(var(--muted-foreground));
}

.DocSearch-Hits mark,
.DocSearch-Hit[aria-selected=true] mark {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.DocSearch-HitsFooter {
    display: none;
}

.DocSearch-Hit-Tree,
.DocSearch-Commands {
    display: none;
}

.DocSearch-Footer {
    background: transparent;
    box-shadow: none;
    border: none;
}

