:root {
    --sd-color-warning: hsl(48.47, 100%, 50%) !important;
    --sd-color-tabs-label-active: hsl(var(--foreground));
    --sd-color-tabs-underline-active: hsl(var(--accent-foreground));
    --sd-color-tabs-label-hover: hsl(var(--accent-foreground));
    --sd-color-tabs-overline: hsl(var(--border));
    --sd-color-tabs-underline: hsl(var(--border))
}

.sd-row {
    --sd-gutter-x: 0.35rem;
    --sd-gutter-y: 0.5rem;
}

.sd-card {
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    color: hsl(var(--foreground));
    margin: 2rem 0;
}

.sd-card-body {
    padding-inline: 1rem;
}

.sd-card-hover:hover,
.sd-card-body:hover {
    border-color: hsl(var(--border));
    transform: none;
}

.sd-card .sd-card-body:hover,
.sd-dropdown .sd-card-body:hover {
    box-shadow: none;
}

.sd-container-fluid {
    padding-inline: 0;
    margin: 2rem 0 !important;
}

.sd-container-fluid .sd-card {
    margin: 0 !important;
}

details.sd-dropdown summary.sd-summary-title svg {
    display: none !important;
}

.sd-card-footer,
.sd-card-header {
    font-size: .9rem;
    line-height: 1.25rem;
}

.sd-tab-set {
    justify-content: center;
    margin-top: 2.5rem;
}

.sd-tab-content {
    box-shadow: none;
    padding-top: 40px;
}

.sd-tab-content>p {
    margin-bottom: 1.5rem;
}

.sd-tab-set>label {
    font-weight: 500;
    color: hsla(var(--tab-foreground));
    font-size: .9rem;
    letter-spacing: .05em;
}

details.sd-dropdown {
    margin-top: 1rem;
}

details.sd-dropdown,
details.sd-dropdown:not([open])>.sd-card-header {
    border: none;
    background-color: transparent;
}

details.sd-dropdown .sd-summary-chevron-right::before {
    color: hsl(var(--foreground)) !important;
    opacity: 1 !important;
    content: "\2b";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem !important;
    font: var(--fa-font-regular);
    margin-right: 0;
    margin-left: 8px;
    transform: rotateZ(0deg) !important;
    transition: transform var(--duration-fast) var(--ease-in-out);
    will-change: transform;
}

details .sd-tab-content .sd-card-text {
    color: unset !important;
    font-size: unset !important;
}

details.sd-dropdown[open] .sd-summary-chevron-right::before {
    transform: rotateZ(45deg) !important;
}

details.sd-dropdown[open]>.sd-summary-title .sd-summary-chevron-down,
details.sd-dropdown[open]>.sd-summary-title .sd-summary-chevron-right {
    transform: none !important;
}

details .sd-card-header {
    border: none;
}

details.sd-dropdown summary.sd-summary-title {
    padding: 0;
    text-transform: none;
    color: hsl(var(--foreground));
    font-weight: 400;
}

details.sd-dropdown summary.sd-summary-title .fas,
details.sd-dropdown summary.sd-summary-title .sd-octicon,
details.sd-dropdown summary.sd-summary-title .sd-material-icon {
    margin-right: 0 !important;
}

details.sd-dropdown summary:focus {
    outline-style: none;
}

div.sd-summary-content.sd-card-body {
    padding: 2rem 0;
}

.sd-shadow-sm {
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.fas,
.fab {
    margin-left: -0.15rem;
    margin-right: 0.15rem;
    margin-top: 0.1rem;
}

.sd-octicon,
.sd-material-icon {
    vertical-align: unset;
    margin-bottom: -0.125rem;
    margin-right: .25rem;
}

nav a svg .fas,
nav a svg .sd-octicon,
nav a svg .sd-material-icon {
    margin-right: 0.45rem;
    vertical-align: text-bottom;
}

.admonition-title .fas {
    vertical-align: baseline;
    margin-inline: 0 !important;
    margin-right: 0.4rem !important;
}

@media (max-width: 768px) {
    .admonition-title .fas {
        margin-right: 0.6rem !important;
    }
}

.caption-text .fas,
.caption-text .sd-octicon,
.caption-text .sd-material-icon {
    vertical-align: middle;
}

.sd-tab-set input[type="radio"] {
    display: none;
}

.sd-tab-set>label {
    border-bottom: 0;
}

.sd-tab-set input[type="radio"]:checked+.sd-tab-label {
    color: hsl(var(--accent-foreground)) !important;
    padding: 0.5rem 0.75rem;
    background-color: hsl(var(--code-background));
}

.sd-tab-set>input:checked+label {
    color: hsl(var(--foreground));
    border-radius: 50px;
    border-color: transparent;
    outline: 1px solid hsl(var(--pre-shadow));
}

.sd-tab-label {
    padding: 0.5rem 0.9rem !important;
    background-color: hsl(var(--light-accent), 0.7);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s var(--ease-in-out);
    border: none;
}

.sd-tab-label:hover {
    color: hsl(var(--foreground) / 0.5) !important;
    border-bottom: none;
}

.sd-card-header {
    color: hsl(var(--muted-foreground));
    padding: 0 1rem;
    border: none;
}

.sd-card-header:first-child {
    border-radius: 0;
}

.sd-card-title {
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    letter-spacing: -0.86px !important;
    line-height: 1.5rem !important;
    margin-bottom: -0.5rem;
}

.sd-card-text {
    margin-top: 1rem !important;
    color: hsl(var(--muted-foreground));
    font-size: 0.9rem;
}

.sd-card-title+.sd-card-text {
    margin-top: 1rem;
}

.sd-stretched-link {
    padding: 0.25rem 0.65rem;
    font-size: 0.8rem;
    border: 1px solid hsl(var(--border));
    border-radius: 50px;
    color: hsl(var(--foreground)) !important;
    font-weight: 500 !important;
    width: fit-content;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background: hsl(var(--code-background));
    transition: background var(--duration-normal) var(--ease-out), color var(--duration-normal) var(--ease-out);
}

.sd-stretched-link span.doc {
    vertical-align: middle;
}

.sd-stretched-link:hover {
    background: hsl(var(--foreground));
    color: hsl(var(--background)) !important;
}

.sd-stretched-link::after {
    content: "\f061";
    font: var(--fa-font-solid);
    align-content: center;
    position: relative;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.sd-card .sd-card-img,
.sd-card .sd-card-img-top,
.sd-card .sd-card-img-bottom {
    margin: 0 !important;
}

.sd-btn {
    border-radius: 50px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1.25rem;
    background-color: hsl(var(--code-background)) !important;
    color: hsl(var(--foreground)) !important;
    border: 1px solid hsl(var(--border)) !important;
}

@media (max-width: 768px) {
    .sd-btn {
        padding: 0.5rem 0.85rem;
    }

    details .sd-card-header {
        margin-top: 0 !important;
    }

    .fas,
    .fab {
        margin-top: 0;
    }
}

.sd-btn-primary,
.sd-btn-secondary:hover,
.sd-btn-secondary:focus {
    background-color: hsl(var(--foreground)) !important;
    color: hsl(var(--background)) !important;
    border: 1px solid hsl(var(--border)) !important;
}

.sd-btn-secondary,
.sd-btn-primary:hover,
.sd-btn-primary:focus {
    background-color: hsl(var(--code-background)) !important;
    color: hsl(var(--foreground)) !important;
    border: 1px solid hsl(var(--border)) !important;
}

