<!--
Author Details Template
=======================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 22 February, 2025
Last updated on: 15 February, 2026
-->
{% block author %}
    <aside class="site-article">
        <a href="{{ github|d(project.source) }}"
           target="_blank"
           rel="noopener noreferrer"
           id="author"
           class="site-article__profile"
           aria-label="Check out {{ name|d(project.author) |safe }} on GitHub">
            <img class="site-article__avatar"
                 src="{{ avatar }}"
                 alt="{{ name|d(project.author) }}'s photo">
            <p class="site-article__name">{{ name|d(project.author) |safe }}</p>
        </a>
        <div class="site-article__meta">
            <div class="site-article__meta-group">
                <p id="readingTime"
                   class="site-article__reading-time"></p>
                <a class="site-article__copy copy-url"
                   data-tooltip="Copy article URL to clipboard"
                   href="#">
                    <i class="fa-regular fa-link-simple"
                       aria-hidden="true"></i>
                    <span>Copy</span>
                </a>
            </div>
        </div>
    </aside>
{% endblock author %}
