<!--
Breadcrumbs Template
====================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 09 February, 2026
-->
<nav aria-label="{{ _('breadcrumbs') }}"
     class="site-breadcrumbs"
     style="{%- if pagename == master_doc %}gap: 0;
            {%- endif %}">
    <a class="site-breadcrumbs__link site-breadcrumbs__link--home"
       href="{{ pathto(master_doc) }}">
        <i class="{{ fa_icons.breadcrumb_home }}"
           aria-label="Home"></i>
    </a>
    {%- if pagename != master_doc %}<i class="{{ fa_icons.breadcrumb_separator_parent }}"></i>{%- endif %}
    {%- for parent in parents -%}
        <a class="site-breadcrumbs__link"
           href="{{ parent.link|e }}">{{ parent.title }}</a>
        <i class="{{ fa_icons.breadcrumb_separator_child }}"></i>
    {%- endfor -%}
    <span aria-current="page"
          class="site-breadcrumbs__current"
          id="currentBreadcrumb">
        {%- if pagename != master_doc %}{{ title }}{%- endif %}
        </span>
    </nav>
