<!--
Feedback Template
=================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 19 October, 2025
Last updated on: 21 December, 2025
-->
{% block feedback %}
    <div class="site-feedback-shell">
        <div class="site-feedback-shell__inner">
            <p class="site-feedback-shell__title">{{ meta.prompt }}</p>
            <p class="site-feedback-shell__subtitle">{{ meta.promptdesc }}</p>
        </div>
        <a href="mailto:{{ project.email }}?subject=Feedback about {{ title|striptags|e }}"
           class="site-feedback-shell__button"
           data-index="0"
           aria-label="{{ fb_submit }}">{{ meta.submitbtn }}</a>
    </div>
{% endblock feedback %}
