<!--
Footer Template
===============

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 24 December, 2025
-->
<footer class="site-footer">
    {%- block footer_before %}{%- endblock footer_before %}
        <div class="site-footer__inner container">
            <div class="site-footer__content">
                <p class="site-footer__text">
                    {%- if show_copyright and copyright|length -%}
                        {%- if hasdoc('copyright') -%}
                            {%- trans path=pathto('copyright'), copyright=copyright|e -%}
                            <a href="{{ path }}">Copyright</a>{{ copyright }}
                        {%- endtrans -%}
                    {%- else -%}
                        {%- trans copyright=copyright|e -%}
                        {{ copyright }}&nbsp;
                    {%- endtrans -%}
                {%- endif -%}
            {%- endif -%}
            {%- if last_updated -%}
                {%- trans last_updated=last_updated|e -%}
                Last updated {{ last_updated }}.&nbsp;
            {%- endtrans -%}
        {%- endif -%}
        {%- if show_sphinx -%}
            {%- trans sphinx_version=sphinx_version|e -%}
            Built with <a class="font-medium"
    href="https://www.sphinx-doc.org"
    rel="noreferrer">Sphinx</a>.
        {%- endtrans -%}
    {%- endif -%}
</p>
<p class="site-footer__text">
    Content licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/"
       target="_blank">CC BY 4.0</a>.
</p>
</div>
<button @click="darkMode = darkMode === 'light' ? 'dark' : 'light'"
        aria-label="Colour theme switcher"
        type="button">
    <i class="{{ fa_icons.dark_mode }} site-header__theme-toggle-icon site-header__theme-toggle-icon--dark"></i>
    <i class="{{ fa_icons.light_mode }} site-header__theme-toggle-icon site-header__theme-toggle-icon--light"></i>
</button>
</div>
{%- block footer_after %}{%- endblock footer_after %}
</footer>
