<!--
Header Template
===============

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 21 December, 2025
-->
<header class="site-header">
    {%- block header_before %}
    {% endblock header_before -%}
    <div class="site-header__inner container">
        {%- block header_left %}
            <div class="site-header__primary">
                {%- block website_logo %}
                    <a href="{{ pathto(master_doc) }}"
                       class="site-header__logo">
                        {%- if logo_url %}
                            <img height="16"
                                 width="16"
                                 class="site-header__logo-image site-header__logo-image--single"
                                 src="{{ logo_url }}"
                                 alt="Logo" />
                        {%- endif -%}
                        {%- if dark_logo and not logo_url %}
                            <img width="16"
                                 height="16"
                                 class="site-header__logo-image site-header__logo-image--dark"
                                 src="{{ pathto('_static/' + dark_logo, 1) }}"
                                 alt="Logo" />
                        {%- endif -%}
                        {%- if light_logo and not logo_url %}
                            <img width="16"
                                 height="16"
                                 class="site-header__logo-image site-header__logo-image--light"
                                 src="{{ pathto('_static/' + light_logo, 1) }}"
                                 alt="Logo" />
                        {%- endif -%}
                        <span class="site-header__title">{{ docstitle }}</span>
                    </a>
                {%- endblock website_logo %}
            </div>
        {%- endblock header_left %}
        {%- block mobile_menu %}
            <button class="site-header__menu-toggle"
                    type="button"
                    @click="showSidebar = true"
                    data-sidebar-toggle>
                <span class="site-header__title">{{ docstitle }}</span>
                <span class="sr-only">Toggle navigation menu</span>
            </button>
        {%- endblock mobile_menu %}
        {%- block header_right %}
            <div class="site-header__utilities">
                {%- if show_docsearch or hasdoc('search') %}
                    <div class="site-header__search">{%- include "searchbox.html.jinja" %}</div>
                {%- endif %}
                {%- block header_buttons %}
                    {%- if header_buttons|tobool %}
                        <nav class="site-header__icon-list"
                             aria-label="External links">
                            {%- for text, url in header_buttons.items() %}
                                {%- if url is mapping %}
                                    <a href="{{ url.link }}"
                                       title="{{ text }}"
                                       rel="noopener nofollow"
                                       target="_blank"
                                       class="site-header__icon-link">
                                        {% if url.icon %}
                                            {{ url.icon }}
                                        {% else %}
                                            <span>{{ text }}</span>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {%- endfor %}
                        </nav>
                    {%- endif %}
                {%- endblock header_buttons %}
            </div>
        {%- endblock header_right %}
    </div>
    {%- block header_after %}{%- endblock header_after %}
    </header>
