<!--
Left Sidebar Template
=====================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 21 December, 2025
-->
<aside id="left-sidebar"
       class="site-layout__sidebar site-sidebar site-sidebar--primary"
       :aria-hidden="!showSidebar"
       :class="{ 'site-sidebar--visible': showSidebar }">
    <a href="{{ pathto(master_doc) }}"
       class="site-sidebar__brand">
        {%- if logo_url %}
            <img height="16"
                 width="16"
                 class="site-sidebar__brand-image site-sidebar__brand-image--single"
                 src="{{ logo_url }}"
                 alt="Logo" />
        {%- endif -%}
        {%- if dark_logo and not logo_url %}
            <img width="16"
                 height="16"
                 class="site-sidebar__brand-image site-sidebar__brand-image--dark"
                 src="{{ pathto('_static/' + dark_logo, 1) }}"
                 alt="Logo" />
        {%- endif -%}
        {%- if light_logo and not logo_url %}
            <img width="16"
                 height="16"
                 class="site-sidebar__brand-image site-sidebar__brand-image--light"
                 src="{{ pathto('_static/' + light_logo, 1) }}"
                 alt="Logo" />
        {%- endif -%}
        <span class="site-sidebar__brand-title">{{ docstitle }}</span>
    </a>
    <div class="site-sidebar__scroll">
        <div class="site-sidebar__content">
            <nav class="site-sidebar__toc"
                 aria-label="{{ _('Table of contents') }}">
                {%- if show_toctree|tobool %}
                    {{ toctree(titles_only=false, collapse=false, includehidden=true) }}
                {%- else %}
                    {{ toctree(titles_only=true, collapse=false) }}
                {%- endif %}
                {%- if sidebar_buttons|tobool -%}
                    <p class="caption"
                       role="heading">
                        <span class="caption-text">External Links</span>
                    </p>
                    <ul class="site-sidebar__mobile-list">
                        {%- for text, url in sidebar_buttons.items() %}
                            {%- if url is mapping %}
                                <a href="{{ url.link }}"
                                   title="{{ text }}"
                                   rel="noopener nofollow"
                                   target="{{ '' if url.link == '#' else '_blank' }}"
                                   class="site-sidebar__mobile-item">
                                    {% if url.icon %}
                                        {{ url.icon }}
                                    {% else %}
                                        <i class="fas fa-arrow-up-right-from-square"></i>
                                    {% endif %}
                                    <span {{ url.extras if url.extras else '' }}>{{ text }}</span>
                                </a>
                            {% endif %}
                        {%- endfor %}
                    </ul>
                {%- endif %}
            </nav>
        </div>
    </div>
    <button type="button"
            @click="showSidebar = false"
            data-sidebar-close
            class="site-sidebar__close hidden">
        <i class="fa-light fa-sidebar-flip"></i>
    </button>
</aside>

