<!--
GitHub Repository Template
==========================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 29 October, 2025
Last updated on: 21 December, 2025
-->
{% block repository %}
    {% set reponame = repo.replace("/", "-") %}
    <div class="site-github-repository">
        <a href="https://github.com/{{ repo }}"
           target="_blank"
           class="site-github-repository__name">{{ repo }}</a>
        <div class="site-github-repository__details">
            <p class="site-github-repository__stars"
               id="{{ reponame }}-star-count">Loading...</p>
            <p class="site-github-repository__forks"
               id="{{ reponame }}-fork-count">Loading...</p>
        </div>
    </div>
    <script>
        var apiUrl = `https://api.github.com/repos/{{ repo }}`;
        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`GitHub API for {{ repo }} returned status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                var stars = formatNumber(data.stargazers_count);
                var forks = formatNumber(data.forks_count);
                document.getElementById('{{ reponame }}-star-count').innerHTML = `<span style="color: hsl(var(--foreground));">${stars}</span>`;
                document.getElementById('{{ reponame }}-fork-count').innerHTML = `<span style="color: hsl(var(--foreground));">${forks}</span>`;
            })
            .catch(error => {
                console.error("Error fetching GitHub data:", error);
                document.getElementById('{{ reponame }}-star-count').style.display = 'none';
                document.getElementById('{{ reponame }}-fork-count').style.display = 'none';
            });
    </script>
{% endblock repository %}

