<!--
ScrollTop Template
==================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 21 December, 2025
-->
<button id="scrolltop"
        x-cloak
        @click="window.scrollTo({top: 0, behavior: 'smooth'})"
        class="site-scrolltop"
        :class="{ 'site-scrolltop--hidden' : !showScrollTop }">
    Back to top
</button>
