<!--
Searchbox Template
==================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 21 December, 2025
-->
<form id="xa-search"
      action="{{ pathto('search') }}"
      method="get"
      class="site-search"
      @keydown.k.window.meta="$refs.search.focus()">
    <label class="site-search__label">
        <span class="sr-only">{{ _("Search") }}</span>
        <input class="site-search__input"
               x-ref="search"
               type="search"
               name="q"
               autocomplete="off"
               placeholder="{{ _('Search the documentation') }}" />
    </label>
    <button class="site-search__submit"
            type="submit">
        <i class="fa-regular fa-magnifying-glass"
           aria-hidden="true"></i>
        <span class="sr-only">{{ _("Submit search") }}</span>
    </button>
</form>
