<!--
YouTube Thumbnail Template
==========================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 06 September, 2025
Last updated on: 21 December, 2025
-->
{% block youtube_thumbnail %}
    <a href="{{ src }}"
       target="_blank"
       rel="noopener noreferrer"
       class="site-youtube-card"
       data-youtube-id="{{ video_id }}"
       data-youtube-src="{{ src }}">
        <article class="site-youtube-card__body">
            <div class="site-youtube-card__thumbnail grayscale">
                <img src="{{ thumbnail }}"
                     alt="Watch {{ title }} on YouTube"
                     loading="lazy">
            </div>
            <div class="site-youtube-card__content">
                <p class="site-youtube-card__title">{{ title|d("YouTube Video") }}</p>
                <p class="site-youtube-card__channel">{{ channel|d("Watch on YouTube") }}</p>
            </div>
        </article>
    </a>
{% endblock youtube_thumbnail %}

